#filter-ingredient-elements {
    background-color: #286090;
    display: none;
}

#filter-device-elements {
    background-color: #C9302C;
    display: none;
}

#filter-utensil-elements {
    background-color: #5CB85B;
    display: none;
}

.filter-container {
    color: white;
    padding: 5px;
    width: fit-content;
    position: relative;
    border-radius: 0 5px 5px 5px;
}

.filter {
    height: 50px;
    margin-right: 20px;
}

.filter::placeholder {
    color: white;
    font-weight: bold;
}

