.tag-container {
    display: flex;
    align-items: center;
}

.tag {
    background-color: #3282F7;
    width: 107px;
    height: 37px;
    border-radius: 5px;
    text-align: center;
    color: white;
    margin-right: 5px;
}
