.m-0 {
    margin: 0;
}

.gap-10 {
    gap: 10px;
}

.bold {
    font-weight: bold;
}

.flex-start {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}


.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-start {
    display: flex;
    justify-content: space-between;
    align-items: self-start;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.border {
    border: 2px solid red;
}

.w {
    width: 33%;
    height: 100%;
}

.py-10 {
    padding: 0 10px 0 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-100 {
    margin-bottom: 100px;
}

.my-10 {
    margin: 10px 0 10px 0;
}

.display-grid {
    display: grid !important;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.big {
    width: 500px;
}

.hide {
    display: none;
}

.w-500 {
    width: 700px;
}

.m-0 {
    margin: 0;
}

.btn2 {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid red;
    border-bottom: none;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px 4px 0 0;
}
